<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>NBG Nacho Brea Golf</title>
</head>
<body>
    <header>
        <div class="logo-section">
            <h1><a href="/main">NBG</a></h1>
        </div>

        <div class="nav-section">
            <ul>
                <li><a href="#tours">Golf-Tours</a></li>
                <li><a href="#clases">Clases</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </div>

    </header>

    <main>

        <section id="landing">

        </section>


        <section id="tours">
            <h2>viajes</h2>
        </section>


        <section id="clases">
            <h2>clases</h2>
        </section>


        <section id="contacto">
            <h2>contacto</h2>
        </section>

        <footer>
            
        </footer>

    </main>
</body>
</html>