<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>NBG Nacho Brea Golf</title>
</head>
<body>
    <header>
        <div class="logo-section">
            <h1><a href="/main">NBG</a></h1>
        </div>

        <div class="nav-section">
            <ul>
                <li><a href="#tours">Golf-Tours</a></li>
                <li><a href="#clases">Clases</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </div>

    </header>

    <main>

        <section id="landing">

        </section>


        <section id="tours">
            <h2>viajes</h2>
        </section>


        <section id="clases">
            <h2>clases</h2>
        </section>


        <section id="contacto">
            
            <div id="form">    
                <form action="/exito" method="POST" class="main-formulario"> 
                
                    <div class="etiqueta-formulario">
                        <input type="nombre" name="nombre"  placeholder="nombre" id="nombre" required>
                    </div>

                    <div class="etiqueta-formulario">
                        <input type="apellido" name="apellido" placeholder="apellido" id="apellido" required>
                    </div>
                    
                    <div class="etiqueta-formulario">
                        <input type="email" name="email" placeholder="email" id="email" required>
                    </div>

                    <div class="etiqueta-formulario">
                        <textarea name="comentario" id="comentario" placeholder="Dejame tu comentario" cols="30" rows="10"></textarea>
                    </div>
                    
                    <div class="botones">

                        <button type="submit" class="boton">
                            Enviar
                        </button>

                        <button type="reset" class="boton">
                            Borrar
                        </button>
                    </div>

                </form>               
            </div>    

        
            <script src="/js/contact.js"></script>
        </section>

        <footer>

        </footer>

    </main>
</body>
</html>